$color-primary: #8667de;
$color-primary-hover: mix($color-primary, #fff, 90%);
$color-primary-base: #9fb0c5;

$color-success: #52c41a;
$color-warning: #faad14;
$color-error: #f5222d;
$color-disabled: #dde0e7;

$color-text-h1: #181a1b;

$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: 14px;